<md-toolbar id="page-header">
    <span class="title"> Courses</span>
</md-toolbar>
<main>
    <div fxLayout="row wrap" class="padding-side">
        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3333" fxFlex.lg="25" fxFlex.xl="20" *ngFor="let item of courseList" style="padding:4px">
            <md-card class="course-card" style="height: 210px;">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div class="title topic-title">{{item.name}}</div>
                    <!--<div>
                        <button md-icon-button [mdMenuTriggerFor]="menu" (click)="selectItem(item)">
                                <md-icon color="accent">more_vert</md-icon>
                                </button>
                    </div>-->
                </div>
                <md-card-content>

                    <app-imgload md-card-image [img]="item.id"></app-imgload>

                    <p class="sub-title">
                        {{item.des}}
                    </p>
                </md-card-content>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <div>
                        <!--<md-icon color="accent" (click)="topic(item)" mdTooltip="Topics">attach_file</md-icon>-->
                        <!--<button md-button color="accent" (click)="topic(item)">Topics</button>-->
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</main>