<div class="footer-container">
    <div class="footer-content-container">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                <a href="" target="_blank">
                    <md-icon class="padding" svgIcon="assets:logowhite" style="width:161px;height:48px"></md-icon>
                </a>
                <div class="cs-footer-links description-font">&copy; 2017 Lync Digital, Inc, All rights reserved</div>
                <a href="http://www.digital-lync.com/" target="_blank">
                    <div class="cs-footer-links pointer">www.digital-lync.com</div>
                </a>
            </div>
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                <h5 class="title">ABOUT</h5>
                <p><a href="">Our Mission</a></p>
                <p><a href="">Company</a></p>
                <p><a href="">Jobs</a></p>
                <p><a href="">Blog</a></p>

            </div>
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                <h5 class="title">SUPPORT</h5>
                <p><a href="">FAQ</a></p>
                <p><a href="">Help Center</a></p>
                <p><a href="">Terms Of Service</a></p>
                <p><a href="">Privacy Policy</a></p>
            </div>
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25">
                <h5 class="title">CONTACT</h5>
                <p> <a href="">Email Us</a></p>
                <p> <a href="">Live Chat</a></p>
            </div>
        </div>
    </div>
</div>