<aside>
    <md-toolbar id="page-side-header">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div>
                <md-icon (click)="onClose()" mdTooltip="Back!" class="md-24" color="accent">keyboard_arrow_left</md-icon>
            </div>
            <div style="padding-left:5rem">
                <span class="title"> Details </span>
            </div>
        </div>
    </md-toolbar>

    <div id="page-content">

        <form [formGroup]="myForm" novalidate autocomplete='off' class="padding-side">
            <div>
                <md-input-container>
                    <input mdInput placeholder="Name" required [formControl]="myForm.controls.topic_name" [(ngModel)]="topic.name">
                    <md-hint>
                        <form-messages [control]="myForm.controls.topic_name "> </form-messages>
                    </md-hint>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Description" required [formControl]="myForm.controls.topic_des" [(ngModel)]="topic.des">
                    <md-hint>
                        <form-messages [control]="myForm.controls.topic_des"> </form-messages>
                    </md-hint>
                </md-input-container>
                <div class="md-select">
                        <md-select placeholder="Parent Topic" [(ngModel)]="topic.parentTopic" name="ParentTopic"  [ngModelOptions]="{standalone: true}">
                                <md-option>None</md-option>
                            <md-option *ngFor="let status of topicList" [value]="status.id">
                                {{status.name}}
                            </md-option>
                        </md-select>
                </div>

            </div>
        </form>
    </div>
    <div id="page-footer">
        <button class="md-fab-position-bottom-right fixed" md-mini-fab color="default" (click)="save()" id="save">
        <md-icon color="accent">save</md-icon>
    </button>
    </div>
</aside>