<div fxLayout="row wrap" class="home-content-container">
    <!--<div class="home-content-container" style="background: url(../../../../assets/mobile.png) no-repeat  fixed; background-size: 100% 100%;">-->
    <div class="home-banner" fxFlex="100">
        <div class="banner-content-container">
            <div class="banner-content">
                <div class="banner-title" [style.xs]="{'font-size.px': 22,'font-weight.px':400}">The Advanced Technology</div>
                <div class="banner-description padding-height" [style.xs]="{'font-size.px': 22}">Experience The Future of Automation</div>
                <button md-raised-button color="accent" (click)="login()">
                    GET STARTED
                </button>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>

<!-- <div class="advantages-content">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3333" fxFlex.lg="33.3333" fxFlex.xl="20" *ngFor="let cards of bodyContent">
            <md-card class="half-margin" style="padding:24px !important;">
                <md-card-content>
                    <img md-card-image [src]="cards.imagePath">
                    <p>
                        {{cards.title}}
                    </p>
                </md-card-content>
                <md-card-actions>
                    <img md-card-image [src]="cards.courseImagePath" style="height: 35px; width: auto; margin: 0;">
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div> -->



<!-- <div class="Digital-Lync-Advantages padding" fxLayout="row wrap">
    <div class="advantages-content">
        <h1 fxLayoutAlign="center">The Digital Lync Advantage</h1>
        <p fxLayoutAlign="center">Master in-demand job skills through Nanodegree programs. Build and design amazing projects. Earn a <br> valued certificate and start an amazing career in Data Science, Machine Learning, Android, iOS <br>and more.</p>
         <div fxLayout="row wrap">
                <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <h1 fxLayoutAlign="center">World-Class Content</h1>
                    <p fxLayoutAlign="center">Carefully designed to maximize learning <br> Detailed, easy to understand and enjoyable lectures <br> focused on practical knowledge, Learn at your own <br> pace, at your own schedule.</p>
                </div>
                <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%"><img src="../../../../../assets/Home-Group.png" class="center-xs" alt="Digital-lync"></div>
            </div>
            <div fxLayout="row wrap" fxHide.sm fxHide.xs>
                <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%"><img src="../../../../../assets/Home-Group.png" alt="Digital-lync"></div>
                <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <h1 fxLayoutAlign="center">World-Class Content</h1>
                    <p fxLayoutAlign="center">Carefully designed to maximize learning <br> Detailed, easy to understand and enjoyable lectures <br> focused on practical knowledge, Learn at your own <br> pace, at your own schedule.</p>
                </div>
            </div> 
        <div fxLayout="row wrap">
            <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h1 fxLayoutAlign="center">World-Class Content</h1>
                <p fxLayoutAlign="center">Carefully designed to maximize learning <br> Detailed, easy to understand and enjoyable lectures <br> focused on practical knowledge, Learn at your own <br> pace, at your own schedule.</p>
            </div>
            <div fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%"><img src="../../../../../assets/Home-Group.png" alt="Digital-lync"></div>
        </div>
    </div>
</div> -->

<!-- <div class="feedback-section">
    <div class="row">
        <div class="col-md-3" style="border:1px solid"></div>
        <div class="col-md-9" style="border:1px solid"></div>
    </div>
</div>  -->