<md-toolbar id="page-header">
    <span class="title"> Dashboard</span>
</md-toolbar>
<main>
    <div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.333%" fxFlex.lg="33.333%">
                <md-card class="margin">
                    <md-card-title>JavaScript Batch</md-card-title>
                    <md-card-content style="text-align:center" class="padding">
                        <div fxLayoutAlign="space-between center">
                            <div fxFlex="40">
                                <md-progress-spinner class="example-margin" color="accent" mode="mode" [value]="100">
                                </md-progress-spinner>
                            </div>
                            <div fxFlex="60" fxLayoutAlign="center center">
                                <span>Classes Reaming :0</span>

                            </div>
                        </div>
                    </md-card-content>
                    <md-card-footer class="padding" color="primary">Completed</md-card-footer>
                </md-card>
            </div>
            <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.333%" fxFlex.lg="33.333%">
                <md-card class="margin">
                    <md-card-title>AngularJs Batch</md-card-title>
                    <md-card-content style="text-align:center" class="padding">
                        <div fxLayoutAlign="space-between center">
                            <div fxFlex="40">
                                <md-progress-spinner class="example-margin" color="accent" mode="mode" [value]="75">
                                </md-progress-spinner>
                            </div>
                            <div fxFlex="60" fxLayoutAlign="center center">
                                <span>Classes Reaming : 6</span>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-footer class="padding">Process:75%</md-card-footer>
                </md-card>
            </div>
            <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.333%" fxFlex.lg="33.333%">
                <md-card class="margin">
                    <md-card-title>ReactJs Batch</md-card-title>
                    <md-card-content style="text-align:center" class="padding">
                        <div fxLayoutAlign="space-between center">
                            <div fxFlex="40">
                                <md-progress-spinner class="example-margin" color="accent" mode="mode" [value]="49">
                                </md-progress-spinner>
                            </div>
                            <div fxFlex="60" fxLayoutAlign="center center">
                                <span>Classes Reaming : 20</span>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-footer class="padding">Process:49%</md-card-footer>
                </md-card>
            </div>
        </div>
    </div>
    <!--<div class="row padding">
        <md-card class="col-xs-12 col-md-4">
            <div class="row ">
                <div class="hpair col-xs-6">
                    <div>Name </div>
                    <div>Jagan</div>
                </div>
                <div class="hpair col-xs-6">
                    <div>Name </div>
                    <div>Jagan</div>
                </div>
                <div class="hpair col-xs-6">
                    <div>Name </div>
                    <div>Jagan</div>
                </div>
                <div class="hpair col-xs-6">
                    <div>Name </div>
                    <div>Jagan</div>
                </div>
            </div>
        </md-card>
    </div>-->
    <!--<iframe [src]="getEmbedUrl()" frameborder="0" class="padding-side"></iframe>-->
</main>