<md-toolbar id="page-header">
    <span class="title"> Courses</span>
</md-toolbar>

<main>
        <!-- <section >
                <span style="position: absolute; padding:10px"><md-icon color="accent">filter_list</md-icon></span>
                <input style="padding-left: 3rem;" type="search" [(ngModel)]="iFilter" placeholder="filter...">
            </section> -->
    <div fxLayout="row wrap">
            <ng-template ngFor let-item [ngForOf]="courseList | filter : ['name']: iFilter" let-last=last color="primary">
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.333" fxFlex.lg="25"  style="padding:4px">
            <md-card class="course-card" [ngClass]="{active:!item.active}">

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="title topic-title" style="cursor:pointer">{{item.name}}</div>
                    <div>
                        <button md-icon-button [mdMenuTriggerFor]="menu" (click)="selectItem(item)">
                                <md-icon color="accent">more_vert</md-icon>
                        </button>
                    </div>
                </div>
                <md-card-content>

                    <app-imgload md-card-image [img]="item.id"></app-imgload>

                    <p class="sub-title">
                        {{item.detail}}
                    </p>
                </md-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <md-icon color="accent" (click)="topic(item)" mdTooltip="Topics">subject</md-icon>
                        <!--<button md-button color="accent" (click)="topic(item)">Topics</button>-->
                    </div>
                    <md-icon color="warn" mdTooltip="De-Activated" *ngIf="!item.active">do_not_disturb_on</md-icon>

                </div>
                <md-menu #menu="mdMenu">
                    <button md-menu-item (click)="open(false)">
                        <md-icon>edit</md-icon>
                        <span >Edit</span>
                    </button>
                    <button md-menu-item (click)="delete(item)"> 
                
                        <md-icon>delete</md-icon>
                        <span>Delete</span>
                    </button>
                </md-menu>
            </md-card>
        </div>
        </ng-template>
    </div>
</main>

<div id="page-footer">
    <button class="md-fab-position-bottom-right fixed" md-mini-fab color="accent" (click)="open(true)"><md-icon >add</md-icon></button>
</div>
<md-sidenav #sidenav align="end" mode="over" [opened]="showSide" (close)="onClose(null)" style="width: 320px">
    <app-course-details [(course)]="course" (close)="onClose('reload')"></app-course-details>
</md-sidenav>
<!--<app-infinate-scroll></app-infinate-scroll>-->