<md-toolbar id="page-header">
    <div class="title">
        Introduction
    </div>
</md-toolbar>
<main>
    <iframe [src]="getEmbedUrl()" frameborder="0" class="padding-side" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:98%;height:98%"></iframe>

    <!-- <div *ngFor="let item of topicLinkList">
        <iframe [src]="getEmbedUrl(item)" frameborder="0" class="padding-side" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:98%;height:98%"></iframe>
    </div> -->

</main>