<md-toolbar id="page-header">
    <div fxFlexLayout="column">
        <div class="title">Batches Details</div>
    </div>
</md-toolbar>
<main>
    <div class="padding-side">
        <md-card *ngIf="batchesList" class="margin-side">
            <div fxLayout="row wrap">
                <div fxFlex.xs="100" fx.Flex.sm="50" fx.flex.md="33.333">
                    <div class="vpair">
                        <span>Batch Name: </span>
                        <span>{{batchesList.batch.name}}</span>
                    </div>
                    <div class="vpair">
                        <span>FromDate: </span>
                        <span>{{batchesList.batch.fromDate | date}}</span>
                    </div>
                    <div class="vpair">
                        <span>ToDate: </span>
                        <span>{{batchesList.batch.toDate | date}}</span>
                    </div>
                </div>
                <div fxFlex.xs="100" fx.Flex.sm="50" fx.flex.md="33.333">
                    <div class="vpair">
                        <span>Course Name: </span>
                        <span>{{batchesList.batch.course.name}}</span>
                    </div>
                    <div class="vpair">
                        <span>FromTime: </span>
                        <span>{{batchesList.batch.fromTime}}</span>
                    </div>
                    <div class="vpair">
                        <span>ToTime: </span>
                        <span>{{batchesList.batch.toTime}}</span>
                    </div>
                </div>
                <div fxFlex.xs="100" fx.Flex.sm="50" fx.flex.md="33.333">
                    <div class="vpair">
                        <span>BatchType: </span>
                        <span>{{batchesList.batch.batchType.name}}</span>
                    </div>
                    <div class="vpair">
                        <span>Branch: </span>
                        <span>{{batchesList.user.branch.name}}</span>
                    </div>
                </div>

            </div>

        </md-card>
    </div>
    <div class="padding">
        <md-card style="padding-top: 0 !important">
            <md-tab-group (selectChange)="selectTab($event)">
                <md-tab label="Topics">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-height heading-font">
                        <div>Name</div>
                        <div>Status</div>
                    </div>
                    <!-- <md-divider></md-divider> -->
                    <span *ngFor="let item of batchTopicList" class=" description-font"> 
                        <div fxLayout="column"   *ngIf="!item.topic.parentTopic" style="border: 1px solid #ccc; padding: 1rem; margin: 1rem 0rem;">
                                <div fxLayout="row"  fxLayoutAlign="space-between center" >
                                    <div style="padding: 1rem 0rem;cursor:pointer"  (click)="subTopics(item)" class="topic-title">{{item.topic.name}}</div>
                                    <md-icon  class="md-28" color="accent" (click)="vedios()" mdTooltip="Play Now">play_circle_filled</md-icon>
                                </div>
                                <!-- <md-divider></md-divider> -->
                                <div *ngIf="toggleItem.id == item.id" >
                                <span *ngFor="let subItem of batchTopicList" style=" width:100%"  >
                                    <div fxLayout="row"  fxLayoutAlign="space-between center" class="padding description-font" *ngIf="subItem.topic.parentTopic == item.topic.id" >
                                        <div>{{subItem.topic.name}}</div>
                                        <div>
                                            <md-select placeholder="Status" [(ngModel)]="subItem.status.id" name="status" (ngModelChange)="updateStatus(subItem)">
                                                <md-option *ngFor="let status of topicStatusList" [value]="status.id">
                                                    {{status.name}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </span>
    </div>
    </div>

    </span>
    </md-tab>
    <md-tab label="Students">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-height description-font">
            <div>Name</div>
        </div>
        <md-divider></md-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="padding-height description-font" *ngFor="let item of studentList">
            <div>{{item.user.name}}</div>
        </div>
    </md-tab>
    </md-tab-group>
    </md-card>
    </div>
</main>